html { 
    -webkit-text-size-adjust: none; 
}

@media only screen and (max-device-width: 1000px) {
    html {
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on devices */
        -webkit-text-size-adjust: none; /* Prevent iOS from automatically adjusting font size*/
    }
}